:root {
  --color-brand: #00874e;
  --color-brand-active: #00874e;
  --shadow-100: 0 2px 4px #0000007a;

  --primary-color: var(--color-brand);
  --primary-color-active: var(--color-brand-active);
  --primary-color-focus: var(--color-brand-active);
  --secondary-color-active: #2f2f2f;

  --radius-small: 8px;
  --radius-medium: 16px;
}
