name: CI

on:
  push:
    branches-ignore:
      - develop
      - dependabot/**
  pull_request:
  workflow_dispatch:

jobs:
  hello:
    uses: ./.github/workflows/hello.yml
    with:
      actor: ${{ github.actor }}

  quality:
    name: quality
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node 22
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'pnpm'
          cache-dependency-path: '**/pnpm-lock.yaml'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Lint project
        run: pnpm run lint
      - name: Build
        run: pnpm run build
        env:
          PUBLIC_SUPABASE_URL: 'https://supabase-url'
          PUBLIC_SUPABASE_ANON_KEY: 'anon_key'
          SUPABASE_URL: 'https://supabase-url'
          SUPABASE_API_KEY: 'api_key'

      - name: Check outdated
        run: |
          pnpm outdated --format list --long >> $GITHUB_STEP_SUMMARY || true

  dependabot:
    needs: [quality]
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'dependabot[bot]' && github.event_name == 'pull_request'}}
    permissions:
      pull-requests: write
      contents: write
    env:
      PR_URL: ${{github.event.pull_request.html_url}}
      GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
    steps:
      - id: metadata
        uses: dependabot/fetch-metadata@v2
        with:
          github-token: '${{ secrets.GITHUB_TOKEN }}'
      - run: |
          gh pr review --approve "$PR_URL"
          # gh pr merge --squash --auto "$PR_URL"
