name: Cypress tests

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */2 * * MON-FRI'
  push:
    branches:
      - main

jobs:
  cypress-run:
    name: Cypress run
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node 24
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          browser: chrome

      - uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: cypress-screenshots
          path: cypress/screenshots
          if-no-files-found: ignore
      - uses: actions/upload-artifact@v5
        with:
          name: cypress-videos
          path: cypress/videos
          if-no-files-found: ignore
